<p>upadate works!</p>
{{ idp }}

<div class="container">
  <form [formGroup]="residenceform">
    <!--<div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">id</span>
      </div>
      <input
        type="text"
        aria-label="First name"
        class="form-control"
        formControlName="id"
      />
      <div
        class="alert alert-danger"
        *ngIf="
          residenceform.get('id')?.invalid &&
          (residenceform.get('id')?.dirty || residenceform.get('id')?.touched)
        "
      >
        Valid 5-digit id is required.
      </div>
    </div>-->

    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">name</span>
      </div>
      <input
        type="text"
        aria-label="First name"
        class="form-control"
        formControlName="name"
      />
      <div
        class="alert alert-danger"
        *ngIf="name?.invalid && (name?.dirty || name?.touched)"
      >
        name is required.
      </div>
    </div>

    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">adress</span>
      </div>
      <input
        type="text"
        aria-label="First name"
        class="form-control"
        formControlName="address"
      />
    </div>
    <div
      *ngIf="address?.invalid && address?.touched"
      class="alert alert-danger"
    >
      adress residence is required
    </div>
    <div *ngIf="address?.errors?.['maxlength']" class="alert alert-danger">
      maximum 10 caractere
    </div>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">image</span>
      </div>
      <input
        type="text"
        aria-label="First name"
        class="form-control"
        formControlName="image"
      />
    </div>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">status</span>
      </div>
      <input
        type="text"
        aria-label="First name"
        class="form-control"
        formControlName="status"
      />
    </div>

    <button class="btn btn-primary" (click)="update()">update</button>
  </form>
</div>
