<p>residences works!</p>
<!--
<table border="3">
    <tr>
<td>id</td>
<td>name</td>
<td>adress</td>
<td>image</td>
<td>status</td>
    </tr>
    <tr *ngFor="let i of listResidences">
<td>{{i.id}}</td>
<td>{{i.name}}</td>
<td>{{i.address}}</td>
<td><img [src]="i.image" alt="" height="100" width="100"></td>
<td>{{i.status}}</td>
    </tr>

</table>
<!--Houssem Rachdi--
<input type="text" [(ngModel)]="searchname">
{{searchname}}
<div *ngFor="let i of listResidences">
    <div *ngIf="searchname==i.name">
<ul>
    <li>{{i.name}}</li>
    <li>{{i.address}}</li>
    <li>{{i.status}}</li>
</ul>
    </div>

</div>-->

<input type="text" placeholder="Rechercher par adresse" [(ngModel)]="searchname" />
<div class="row">
  <div *ngFor="let i of filterresidencebyname()" class="card m-3" style="width: 18rem">
    <img [src]="i.image" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">{{ i.name }}</h5>
      <h5 class="card-title">{{ i.status }}</h5>
      <p class="card-text">{{ i.address }}</p>
      <button class="btn btn-primary" (click)="showLocation(i)">
        Show Location
      </button>
      <br />
      <button class="btn btn-outline-primary" (click)="addFavorite(i)">
        {{ isFavorite(i) ? "👎Unlike" : "👍Like" }}
      </button>
    </div>
  </div>
</div>
